/* Site-wide styles */

:root {
    --pet-gray: #565554;
    --pet-green: #8DB771;
    --pet-orange: #EF9E49;

}

html {
    font-size: 100%;

    margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    color: var(--pet-gray)
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    align-items: center;
}


form div,
.form-group,
.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

form label {
    min-width: 140px;
    font-weight: 600;
    white-space: nowrap;
    
}

form input,
form select,
form textarea {
    flex: 1;
    padding: 8px 12px;
    margin: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--pet-gray);
    border-radius: 4px;

}

form label textarea {
    display: grid;
    margin-top: 20px;

    
}





input {
    padding: 5px;
    margin: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

button {
    color: #fff !important;
    background-color:#565554 !important;
    height: auto;
    font-weight: 600;
    font-size: 12pt;
    margin: 10px;
    max-width: 200px;

}

a, button {
    color: inherit
    
}

.modal-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    input {
        margin: 10px;
    }
}

.navigation {
    background-color: var(--pet-green);
    box-shadow: 2px 2px 4px var(--pet-gray);
    display: flex;
    justify-content: space-between;
    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
    }
}


li {
    margin-right: 20px;
    &:last-child {
        margin-right: 0px;
    }
    font-size: 20pt;
    a {
        text-decoration: none;
        color: #fff;
        text-shadow: 2px 2px 4px var(--pet-gray);
    }
    

    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 4px var(--pet-gray);
    

}



.profile-dropdown 
position: absolute;
height: 200px;
    

.nav-list {
    list-style-type: none;
  
}

.nav-item {
    
}

.page-wrapper {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.section-wrapper{
    text-align: center;
    color: #fff;
    font-weight: bolder;
    text-shadow: 2px 2px 4px var(--pet-gray);
    border-radius: 5px;
    margin-bottom: 10px;
}

.section-header{
    padding-top: 10px;
}

.risk-wrapper {
    background-color: var(--pet-orange);
    border-radius: 5px;
}

.adopt-wrapper {
    background-color: var(--pet-green);
    border-radius: 5px;
}
.missing-wrapper {
    border-radius: 5px;
    background-color: #333;
    

}


.row-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;

}
.pet-card-wrapper {
    background-color: var(--pet-gray);
    color: #fff;
    text-shadow: none;
    border-radius: 5px;
    width: 280px;
    height: 500px;
    h2 {
        padding: 0 5px 0 5px;
        &:last-child {
            padding-bottom: 5px;
        }
    }

}

.card-image {
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px var(--pet-gray);
}

.single-wrapper {
    img {
        object-fit: cover;
        width: 280px;
        height: 280px;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 0 10px var(--pet-gray);
    }
}


.single-images-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}


.shelter-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
   
}

.shelter-name-wrapper {
    background-color: #8DB771;
    padding: 5px 20px 5px 20px;
    width: 100%;
}

.shelter-grid {
    background-color: #565554;
    color:#fff;
    padding: 20px;
    margin-top: 10px;
    h2 {
        margin-top: -8px;
        
        text {
            font-color: #fff;
        }
    }
    
    width: 100%;
}

.shelter-button {
    background-color: var(--pet-green);
    color: #fff;
    width: 350px !important;
    height: 300px;
 }