/* Site-wide styles */

* {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    

}

body {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    background-attachment: fixed;
    min-height: 100vh;
 
    margin: 0 auto;

}


.navigation {
    margin: 40px 0 30px 0;
}





